:root {
	--background-color: rgba(255, 255, 255, 0.887);
	--content-text-color: #b39166;
  --main-ui-btn-color: #b39166;
  --ui-text-color: #fff;
  --hover-color: #0059b3;
  --disabled-color: #ccc;
	--output-font-size: 1.8rem;
	--p-font-size: 1rem;
	--bs-body-font-size: 1rem;
	--h1-web-font-size: calc(1.325rem + 0.9vw);
	--h1-mobile-font-size: 1.125rem;
}
:root {
  color-scheme: dark light;
}

@media (prefers-color-scheme: dark) {
	:root {
		--main-ui-btn-color: #1c1c1c;
		--hover-color: #0059b3;
		--content-text-color: #fff;
	}
	button {
		background-color: var(--content-text-color);
	}
	button:focus {
		background-color: var(--content-text-color);
		color: var(--background-color);
	}
	a:link {
		text-decoration: none;
		color: white;
		height: fit-content;
	}
	h1#select-prompt {
		color: #fff;
	}
	@media screen and (max-width: 800px) {

		button:hover {
			background-color: var(--content-text-color);
			color: white;
			cursor: pointer;
		}
	}
}

html {
  font-family: "Merriweather","Roboto Slab",Georgia,"Times New Roman",Times,serif;
  overflow-x: hidden;
}

body {
	text-align: center;
	padding-left: 1%;
	padding-right: 1%;
}

section {
	width: 100%;
	margin: auto;
}

output h1 {
	text-align: center;
	border-radius: 250px;

	text-emphasis-color: orangered;
	margin-top: 16px;
	text-indent: 35px;
	font-size: var(--h1-web-font-size);
	font-family: "Roboto Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	line-height: 1.3;
	padding: 3%;
}

h2 {
	font-size: 2.5rem; color: #186ddcec; transform: translateX(-1rem);
	text-align: center;
	border-radius: 250px;

	text-emphasis-color: orangered;
	margin-top: 16px;
	text-indent: 35px;
	font-size: var(--h1-web-font-size);
	font-family: "Roboto Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	line-height: 1.3;
	padding: 3%;
}
.selected {
	font-family: Verdana, Geneva; 
	font-size: 2rem;
}

h2 {
	color: #fff;
}

#select-prompt {
	font-family: Verdana, Geneva;;
}

output {
	text-align: center;
}

.date {
	text-align: left;
	color: green;
	font-size: 18pt;
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 0px;
}

img {
	display: block;
	width: 100%;
	position: relative;
	align-self: center;
	height: auto;
	margin-bottom: 5rem;
}

a:link {
	text-decoration: none;
	height: fit-content;
}

p {
	text-align: center;
	text-indent: 35px;
	font-size: 1.5rem;
	border-radius: 250px;
	color: var(--content-text-color);
	text-shadow: rgb(0, 0, 0) 0px 0px 0px;
	text-emphasis-color: orangered;
	margin-bottom: 60px;
	padding-bottom: 40px;
	margin-left: .3rem;
	margin-right: .3rem;
}

.link {
	font-size: 0.7rem;
  display: block;
  text-align: center;
  color: #186ddcec;
	border-style: dashed;
	border-color: var(--main-ui-btn-color);
	border-width: 2px;
	border-radius: 25px;
	height: 420px;
	padding-bottom: 40px;
	margin-bottom: 50px;
	padding: 1%;
  justify-content: center;
  align-items: center;
}

hr {
	margin-bottom: 40px;
}


.button-container-1 {
	visibility: visible;
	column-gap: 3px;	
}

.button-container-2 {
	display: flex;
	flex-direction: row;
	gap: 6px;
	width: 96%;
	bottom: 0; 
	position: fixed; 
	align-items: center;
	align-content: center;
	justify-content: center;
}

button {
	background-color: black;
	font-size: 2.5rem;
	color: #b4b0b0;
	text-shadow: grey 0px 0px 0px;
	height: 2.8rem;
	line-height: 1.2rem; 
	position: relative;
	text-align: center;
	min-height: 20px;
	padding: 5px;
	margin-top: 10px;
	border-radius: 25px;
	width: 100%;
	row-gap: 0px;
	border-radius: 4px;
	transition: background-color 0.3s ease; /* Transition for the Hover Effect */
	touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;
}

button:hover {
	background-color: var(--main-ui-btn-color); 
	color: var(--background-color);
	cursor: pointer;
	border: solid #b39166 3px;
}

button:focus {
	background-color: var(--main-ui-btn-color);
	color: var(--background-color);
	border: solid #0059b3 3px;
}

button:disabled {
	background-color: var(--disabled-color);
	cursor: not-allowed;
}

@media screen and (min-width: 1900px) {
	
	* {
		max-width: 1600px;
		align-self: center;
		align-content: center;
	}
	.link {
		margin: 14%;
	}
}

@media screen and (min-width: 1000px) {

	p {
		margin-left: 15rem;
		margin-right: 15rem;
	}
	.link {
		margin: 6%;
	}
	
}
@media screen and (min-width: 877px) {

	button {
		width: 276.45px;
	}
	
}

@media screen and (min-width: 787px) {

	.button-container-1 {
		display: flex;
		flex-direction: row;
	}
	.button-container-2 {
		display: flex;
		flex-direction: row;
		visibility: visible;
	}
	button {
		font-size: 1.5rem;
	}
	h1 {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 800px) {

	button:hover {
		color: #fff;
		cursor: pointer;
	}
	button {
		font-size: 1.5rem;
		background-color: var(--main-ui-btn-color);
		color: #fff; 
	}
}

@media screen and (max-width: 715px) {
	button {
		background-color: var(--main-ui-btn-color);
		color: #fff; 
	}
}

@media screen and (max-width: 676px) {
	output h1 {
		background-color: 22272e;
		border-radius: 250px;
		text-emphasis-color: orangered;
		text-indent: 35px;		
	}
}

@media screen and (max-width: 476px) {
	p {
		padding-left: 0px;
		padding-right: 0px;
	}
	.link {
		padding: 5%;
	}
}

.image {animation-duration: 1.8s; animation-name: fadeInOnLoad;}
	@keyframes fadeInOnLoad {
		0%,40% {opacity: 0;}
		100% {opacity: 1;}
}

@media (prefers-color-scheme: light) {
  :root {
		--content-text-color: #000000;
		--hover-color: #0059b3;
		--main-ui-btn-color: #186ddcec;
  }
	button {
		background-color: var(--hover-color);
	}		
	button:focus {
		border: #b39166 solid 3px;
	}
	.selected {
		color: #0059b3;
	}
	p {
		color: #0059b3;
	}
}

@media screen and (min-width: 1000px) {

	img {
		width: 60%;
	  margin: auto;
	  display: block;
	}

}