:root {
	--background-color: #fff; /* Default Color for the Page Background */
	--content-text-color: #000; /* Default Color for the Main Paragraph Text in Each Article */
  --main-ui-btn-color: #1A73E8; /* (Buttons & Headlines) Main Background Color for the Buttons & Headlines */
  --ui-text-color: #fff; /* (Buttons & Headlines) Text Color for the Buttons & Headline Sections */
  --hover-color: #0059b3; /* Hover Color for the Buttons */
  --disabled-color: #ccc; /* Disabled Color for if Any of the Buttons Are Set to Disabled State */
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-indent: 35px;
  font-size: 18pt;
  overflow-x: hidden;
}

body {
	text-align: center;
}

section {
	width: 100%;
	margin: auto;
}

.date {
	display: block;
	text-align: left;
	color: green;
	font-size: 0.7rem;
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 0px;
}

output h1 {
	text-align: center;
	background-color: var(--main-ui-btn-color);
	border-radius: 250px;
	color: var(--background-color);
	padding: 30px;
	text-shadow: black 3px 3px 7px;
	text-emphasis-color: orangered;
	margin-top: 16px;
  text-indent: 35px;
  font-size: 18pt;
}

p {
	text-align: center;
	text-indent: 35px;
	font-size: 18pt;
	background-color: var(--background-color);;
	border-radius: 250px;
	color: var(--content-text-color);
	padding-left: 40px;
	padding-right: 40px;
	text-shadow: rgb(255, 255, 255) 3px 3px 7px;
	text-emphasis-color: orangered;
	margin-bottom: 60px;
}

img {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}


.link {
	font-size: 0.4em;
  display: block;
  text-align: center;
  color: green;
	padding-bottom: 250px;
}

.button-container {
	display: flex;
  justify-content: space-evenly;
	gap: 2px;
	padding-right: 2%;
}

button {
	touch-action: manipulation;
  line-height: 20px; 
  position: relative;
	text-align: center;
  font-size: 26px;
  height: 70px;
  min-height: 20px;
  padding: 5px;
  border-radius: 25px;
  width: 100%;
  column-gap: 30px;
	background-color: var(--main-ui-btn-color); /* Main Blue Color for the UI Buttons */
  color: var(--ui-text-color); /* White Text Color for the Buttons */
  border: none; /* No Border for the Buttons */
  border-radius: 4px;
  padding: 12px 24px; 
  transition: background-color 0.3s ease; /* Transition for the Hover Effect */
}

button:hover {
	background-color: var(--hover-color); 
  cursor: pointer;
}

button:disabled {
	background-color: var(--disabled-color); /* Disabled color for the Buttons */
  cursor: not-allowed; /* Change Cursor to Not-Allowed When Button Is Disabled */
}


@media screen and (max-width: 800px) {

	button {
		font-size: 11px;
		height: 45px;
		padding: 0;
		margin: 0;
	}
}	

footer {
	text-align: center;
	align-items: center;
	align-content: center;
	position: center;
	bottom: 0; 
	position: fixed; 
	margin-bottom: 5px; 
	border-radius: 25px; 
	border: black 2px; 
	width: 100%;
}